@font-face {
    font-family: "Playfair Display";
    src: url("../../webfontkit-20230423-172858/playfairdisplay-variablefont_wght-webfont.woff ") format("woff"),
        url("https://yoursite.com/css/fonts/CustomFont.otf") format("font File");
}

html {
    font-size: 16px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Playfair Diplay'; */
    /* border: 2px dotted red; */
}

body {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    /* background: linear-gradient(136deg , white 15%,#E7C8B3 35% ,  #B72A36 50%); */
}

.navbar {
    width: 100vw;
    min-height: 10vh;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar h1 {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogs_list_container {
    display: grid;
    grid-template-rows: 4;
    grid-gap: 2rem;
    margin: 1.5rem auto;
    width: 100vw;

}

header {
    grid-row: 1/2;
    grid-column: 1/13;
    text-align: center;
}

section {
    grid-row: 2/3;
    grid-column: 3/11;
    /* background-color: #B72A36; */
    width: 90%;
    margin: auto;


}

.blogs_list {
    /* background-color: red */
}

header h1 {
    font-size: 3rem;
    font-weight: 900;
    /* width: 100%; */
}

header p {
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* section figure img#rose_water_image {

    position: absolute;
    width: 20em;
    height: 15em;
    right: 5%;
    bottom: 25%;
} */

section>figure>img#Roses {
    /* border-radius: 20px 20px 0px 0px; */
    width: 100%;
    height: 100%;
}

section>figure>p {
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    bottom: 6%;
    left: 2%;
    font-size: 2rem;
}

section figure {
    height: 510px;
    position: relative;
    /* width: 80%; */

}

.meta_data p section figure,
.read_more {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 100%;
}

section .read_more {
    /* padding-top: 1rem; */
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

section .meta_data p:first-of-type {
    font-size: 1.2rem;
    padding: 1rem 0 1rem;
    width: 74%;
    text-align: justify;
}

section .meta_data .read_more a,
main.blogs_list .blog_post div div a {
    text-decoration: none;

}

.meta_data {
    width: 100%;
    margin: auto;
}

section .meta_data .read_more button,
main .blog_post div a button {
    display: inline;
    border: none;
    border-radius: 4.32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 154px;
    height: 36px;
    font-weight: 500;
    font-size: 15.5472px;
    padding: 8.63731px 21.5933px;
    color: white;
    background-color: #B72A36;
}

section .meta_data .read_more button:hover {}

section .meta_data .read_more button img,
main .blog_post div img {
    width: 1.5rem;
    height: 1.5rem;
}

section .meta_data .read_more span {
    font-weight: bold;
    display: flex;
    align-items: center;
}

section .meta_data .read_more span img {
    width: 1.5rem;
    height: 1.5rem;
}

section .meta_data p:last-child {
    display: flex;
    align-items: center;
    padding: .5rem 0px;
    color: #B72A36;
}

section .meta_data p img {
    width: 3rem;
}

/* section .meta_data div{
    background-color:crimson;
} */

main.blogs_list {
    grid-row: 3/4;
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2rem auto;

}

main.blogs_list .blog_post_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3rem auto;
}

.blog_post {
    position: relative;
    overflow: hidden;
    background-color: white;
    height: 550px;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
    transition: transform .5s linear;
    box-shadow: 1px 1px 1px black;
}

main.blogs_list .blog_post figure {
    width: 100%;
    height: 45%;
    position: relative;

}

main.blogs_list .blog_post:hover {
    box-shadow: .8px .8px rgb(72, 70, 70);
    transform: scale(1.050, 1.050);

}

.blogs_list .blog_post:hover #image {
    opacity: .8;
}

main.blogs_list .blog_post figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

main.blogs_list .blog_post figure .category {
    position: absolute;
    background-color: #B72A36;
    text-align: center;
    color: white;
    padding: 4px 16px;
    left: 8.5vw;
    text-align: center;
    bottom: -5%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.category:hover {}

/* main.blogs_list .blog_post_row .blog_post figure span:first-of-type:hover{
    opacity: .7;
} */

main.blogs_list .blog_post div .blog-postcontent {
    font-size: 16px;
    text-align: justify;
    width: 100%;
    padding: 8px 24px;
    overflow-wrap: break-word;


}

.down_part {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 300px;
}

.blog_post div h4 {
    padding: 1.5rem 0px 0rem;
    text-align: center;
    /* font-family: 'Playfair Diplay'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 32px 0 5px; */
}

.blog_post div div:last-child {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    position: absolute;
    bottom: 10px;
}

.blog_post div a button {
    font-weight: bold;
    border: 1px solid #B72A36;

}

button {
    transition: .7s background-color;
}

footer {
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: #000000;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 200px;
}

.read_more a button:hover,
main.blogs_list .blog_post div a button:hover {
    background-color: #000000;
}




/* .pagination {
    grid-area: 4/2/5/11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:first-child {
    margin-right: 10px;
}

.pagination a:last-child {
    margin-left: 10px;
} */


.pagination {
    grid-area: 4/2/5/11;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 16px;
}

.pagination>a,
.pagination>span {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border-radius: 3px;




    transition: all 0.3s ease;
}

.pagination>a:hover {
    background-color: #333;



    color: #fff;
}

.pagination>.active {
    background-color: #333;
    color: #fff;
}








@media screen and (min-width:2560px) {
    body{
        /* background-color: aqua; */
    }
    .blogs_list_container {
        width: 90%;
        margin: auto;
    }

    

    section>figure>p {
        font-size: 2vw;
    }

    .blog_post_row {
        width: 80%;

    }

    section figure {
        height: 75vh;
    }

    section .meta_data p:first-of-type {
        font-size: 1.3vw;
        width: 100%;
    }


    /* section .meta_data .read_more button img {
        width: 3rem;
        height: 3rem;

    } */

    section .meta_data p:last-child {
        font-size: 1.1vw;
    }

    #Customers {
        width: 3vw;
    }

    .read_more span {
        font-size: 2rem;
    }
    .blog_post div div:last-child button img , 
    section .meta_data .read_more button img{
        width: 1.5vw  ;
        height: 1.5vw;
    }
    header {
        margin-top: 1vh;
    }

    header h1 {
        font-size: 2.5vw;
    }

    header p {
        font-size: 1.3vw;
    }

    .blog_post {
        width: 23vw;
        height: 35vw;
    }

    .blog_post h4 {
        margin: 0.5vw auto;
        font-size: 1.08vw;
        font-weight: bolder;
    }
    div.read_more{
        margin: 1rem auto;
    }

    main.blogs_list .blog_post div .blog-postcontent {
        font-size:1.05vw;
    }
    .down_part{
        padding:10px;
    }

    span.posted_at {
        font-size: 1.1vw;
        font-weight: 1px;
    }
    section .meta_data .read_more button ,
    .blog_post div div:last-child button {
        font-size: 1.05vw;
        font-weight: bolder;
        width: 7.3vw;
        height: 1.5vw;
        /* padding: 10px auto; */
        box-sizing: content-box;
        border-radius:0.2vw;
        color:white;
        padding: 0.4vw 0.4vw;
        
    }

    /* main.blogs_list .blog_post figure .category {
        font-size: 25px;
        height: 30px;
        left: 8vw;
        width: 140px;
        padding: 0;
        box-sizing: content-box;
        padding: 6px 12px;

    } */
    .pagination{
        margin: 5vw auto;
        font-size: 1.1vw;
        width: 100%;
    }
    .pagination>a,
.pagination>span{
    margin: 0.3vw;
    padding: 0.6vw;
}
section .meta_data .read_more span{
    font-size: 1.2vw;
    /* background-color: #B72A36; */
    width: 4vw;
}
section .meta_data .read_more span img{
    width: 1.5vw;
    height: 1.5vw;
}

    main.blogs_list .blog_post figure .category{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:1.1vw;
        height: 1.8vw;
        padding: 0.5vw;
        

    }
}

















@media screen and (min-width:1540px) and (max-width:2560px) {

    *{
        /* border: 2px red dotted; */
    }
    .blogs_list_container {
        width: 90vw;
    }
    header p{
        font-size: 1.8rem;
    }
    section figure {
        height: 70vh;
    }

    section > figure > p{
        font-size:2.5rem
    }
    section .meta_data p:first-of-type{
        font-size: 1.5rem;
        text-align: left;
        width: 90%;
    } 
    .blog_post div div:last-child button , 
    section .meta_data .read_more button{
        width: 7.5rem;
        height: 1.5rem;
        box-sizing: content-box;
        font-size: 1.1rem;
        border-radius:6px;
        font-weight: bolder;
    }
    section .meta_data .read_more span{
        width: 3.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    section .meta_data .read_more span img{
        width: 2rem;
        height: 2rem;
    }
    #Customers {
        width: 4.5vw;
    }
    section .meta_data p:last-child{
        font-size: 1.3rem;
    }
    span.posted_at{
        font-size: 1.2rem;
    }
    .blog_post{
        width: 22vw;
        height: 600px;
    }
     .blog_post h4{
        font-size: 1.1rem;
     }
     main.blogs_list .blog_post div .blog-postcontent{
        font-size:1.1rem;
     }
 
}





@media screen and (min-width:1100px)    and (max-width:1520px)  {
    body {
        /* background-color: aqua; */
    }
    main.blogs_list .blog_post div .blog-postcontent{
        font-size:1.03vw;
    }
    .blog_post{
        width: 25vw;
        height: 36vw;
    }
    header h1{
        font-size: 2rem;
    }
    header p{
        font-size: 1.3rem;
    }
    section figure{
        height: 34.5vw
    }
    .blog_post h4{
        font-size: 1.2vw;
    }
    section .meta_data p:first-of-type{
        font-size: 1.3vw;
        width: 80%;
    }
    section .meta_data p:last-child{
        font-size: 1.1vw;
    }

    section .meta_data .read_more button ,
    .blog_post div div:last-child button{
        width: 10.5vw;
        font-size: 1vw;
        height: 2.3vw;
    }
    section .meta_data .read_more span{
        font-size: 1.2vw;
    }
    .blog_post div div:last-child button img , 
    section .meta_data .read_more button img{
        width: 1.4vw;
        height: 1.4vw;
    }


    main.blogs_list .blog_post figure .category{
        width:6vw;
        font-size: 1.05vw;
        left: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span.posted_at{
        font-size: 1vw;
    }
}

@media screen and (min-width:2000px) and (max-width:2560px){
    body{
        /* background-color: chartreuse; */
    }
    section .meta_data p:last-child{
        font-size: 1.1vw;
    }
    main.blogs_list .blog_post div .blog-postcontent{
        font-size: 1vw;
    }

    section .meta_data p:first-of-type{
        font-size: 1.2vw;
    }
    .blog_post{
        /* border: 10px red solid; */
        height:700px ;
    }
    .blog_post h4{
        margin: 10px auto;
        font-size: 1.3rem;
    }
    main.blogs_list .blog_post figure .category {

        text-align: center;
        font-size: 1.3rem;
    }
    .blog_post div div:last-child button , 
    section .meta_data .read_more button{
        height: 30px;
        font-size: 1.4rem;
        width: 9rem;
        margin: 0.2vw auto;
    }
    .pagination{
        font-size:1.5rem;
    }
    section .meta_data .read_more span{
        font-size: 1.2vw;
        width: 3.2vw;
    }
}

@media screen and (min-width:2200px) and (max-width:2560px){
    body{
        /* background-color: aqua; */
    }
    .blog_post{
        height: 780px;
    }
    span.posted_at{
       font-size: 1.4rem;        
    }
    .blog_post h4{
        font-size: 1.5rem;
    }
    main.blogs_list .blog_post div .blog-postcontent{
        font-size: 1.5rem;
    }
    .pagination{
        font-size: 1.5rem;
    }
}


@media screen and (min-width:1800px) and (max-width:2000px){
    body{
        /* background-color:#B72A36 ; */
    }
    main.blogs_list .blog_post div .blog-postcontent{
        font-size: 1.25rem;        
    }
    section .meta_data .read_more span{
        font-size: 1.2vw;
        font-weight: bold;
    }
    main.blogs_list .blog_post figure .category{
        font-size: 1.2rem;
    }
    .blog_post div div:last-child button , 
    section .meta_data .read_more button{
        font-size: 1.1vw;
        width: 7vw;
    }
    .blog_post{
        height :670px;
    }
    .blog_post h4{
        font-size: 1.25rem;
        margin:10px auto;
    }
    .pagination{
        font-size: 1.25rem;
    }

}





@media screen and (max-width:1024px){
    body{
        background-color: aqua;
    }
    main.blogs_list .blog_post div .blog-postcontent{
        font-size:1.03vw;
    }
    .blog_post{
        width: 25vw;
        height: 37vw;
    }
    header h1{
        font-size:2.5vw;
    }
    header p{
        font-size: 1.5vw;
    }
    section figure{
        height: 33vw;

        
    }
    section figure p{
        font-size: 2vw;
    }
    .blog_post h4{
        font-size: 1.2vw;
    }
    section .meta_data p:first-of-type{
        font-size: 1.3vw;
        width: 80%;
    }
    section .meta_data p:last-child{
        font-size: 1.1vw;
    }

    section .meta_data .read_more button ,
    .blog_post div div:last-child button{
        width: 10vw;
        font-size: .9vw;
        height: 2.3vw;
        font-weight: bolder;
    }
    section .meta_data .read_more span{
        font-size: 1.2vw;
    }
    .blog_post div div:last-child button img , 
    section .meta_data .read_more button img{
        width: 1vw;
        height: 1vw;
    }

    .blog_post div div:last-child {
        position:absolute;
        bottom:0px;
    }
    main.blogs_list .blog_post figure .category{
        width:6vw;
        font-size: 1.05vw;
        left: 9vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span.posted_at{
        font-size: 1vw;
    }
}
