@font-face {
    font-family: "Playfair Display";
    src: url("../../webfontkit-20230423-172858/playfairdisplay-variablefont_wght-webfont.woff ") format("woff"),
        url("https://yoursite.com/css/fonts/CustomFont.otf") format("font File");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Playfair Diplay'; */
}
body{
    overflow-x: hidden;
    position:  relative;
    z-index: 2;
}

.navbar {
    width: 100vw;
    height: 6em;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar h1 {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogs_list_container {
    display: inline-grid;
    grid-template-rows: 3;
    grid-gap: 2rem;
    margin: 1.5rem auto;
    width: 100vw;

}

header {
    grid-row: 1/2;
    grid-column: 1/13;
    text-align: center;
}

section {
    grid-row: 2/3;
    grid-column: 3/11;
    /* background-color: #B72A36; */

}

header h1 {
    font-size: 3rem;
    font-weight:900;
    /* width: 100%; */
}

header p {
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section figure img#rose_water_image {

    position: absolute;
    width: 20em;
    height: 15em;
    right: 5%;
    bottom: 25%;
}

section > figure > img#Roses{
    /* border-radius: 20px 20px 0px 0px; */
    width: 100%;
    height: 100%;
}

section>figure>p {
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    bottom: 6%;
    left: 2%;
    font-size: 2rem;
}

section figure {
    height: 70vh;
    position: relative;
    /* width: 80%; */

}

section figure,
section .meta_data p,
.read_more {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 95%;
}

section .read_more {
    /* padding-top: 1rem; */
    align-items: center;
    justify-content: cente;
    display: flex;
}

section .meta_data p:first-of-type {
    font-size: 1.2rem;
    padding: 1rem 0 1rem;
}

section .meta_data .read_more a ,main.blogs_list .blog_post_row .blog_post div a{
    text-decoration: none;

}

section .meta_data .read_more button , main .blog_post_row .blog_post div a button {
    display: inline;
    border: none;
    border-radius: 4.32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 154px;
    height: 36px;
    font-weight: 500;
    font-size: 15.5472px;
    padding: 8.63731px 21.5933px;
    color: white;
    background-color: #B72A36;
}

section .meta_data .read_more button:hover {}

section .meta_data .read_more button img ,main .blog_post_row .blog_post div img {
    width: 1.5rem;
    height: 1.5rem;
}
section .meta_data .read_more span {
    width: 3vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .meta_data .read_more span img {
    width: 1.5rem;
    height: 1.5rem;
}

section .meta_data p:last-child {
    display: flex;
    align-items: center;
    padding: .5rem 0px;
    color: #B72A36;
}

section .meta_data p img {
    width: 3rem;
}

/* section .meta_data div{
    background-color:crimson;
} */

main.blogs_list {
    grid-row: 3/4;
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 2rem auto;
    
}
main.blogs_list .blog_post_row {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    grid-row:1/2;
    grid-column: 1/4;
    width: 100%;
    margin: 3rem auto;
}
.blog_post {
    position: relative;
    background-color:white;
    margin: 2vh;
    height: 73vh;
    width:24vw ;
    border-radius: 10px;
    transition: transform .5s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
main.blogs_list .blog_post_row .blog_post figure{
    width: 100%;
    height: 46%;
    position:relative ;

}
main.blogs_list .blog_post_row .blog_post:hover{
    box-shadow: .8px .8px  rgb(72, 70, 70);
    transform: scale(1.050, 1.050);
}
.blogs_list .blog_post_row .blog_post:hover  #image{
opacity: .8;
}
main.blogs_list .blog_post_row .blog_post figure img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
main.blogs_list .blog_post_row .blog_post figure .category{
    position: absolute;
    background-color: #B72A36;
    text-align: center;
    color: white;
    padding: 4px 16px;
    left: 40%;
    bottom: -5%;
    font-size: 16px;
    font-weight:bold ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.category:hover{
    
}
main.blogs_list .blog_post_row .blog_post figure span:first-of-type:hover{
    /* opacity: .7; */
}
main.blogs_list .blog_post_row .blog_post div .blog-postcontent  {
    font-size: 1rem;
    text-align:left;
    width: 90%; 
    margin: auto;
    padding: 1%;

}
main.blogs_list .blog_post_row .blog_post div h4{
    padding: 2rem 0px 2.5rem;
    text-align: center;
    /* font-family: 'Playfair Diplay'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    padding: 32px 0 5px;
}
main.blogs_list .blog_post_row .blog_post div:last-child{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom:10px;
}
main.blogs_list .blog_post_row .blog_post div a button {
    font-weight: bold;
    border: 1px solid  #B72A36;

}
footer {
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color:#000000;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:200px ;
}
main.blogs_list .blog_post_row .blog_post div a button:hover{
    border: 1px solid  #B72A36;
    background-color: #000000;
}


